<!DOCTYPE html>
<html>
    <head>
        <%- include("head.ejs")%>
    </head>
    <body>
        <%- include("header.ejs")%>
        <div id="main">
            <div id="main-container">
                <div class="main-box">
                    <h1>About</h1>
                    <p>このサイトの運営者について、箇条書きで簡潔に紹介します。</p>
                    <div class="mini-box">
                        <p>・Sky_Thunder(すかいさんだー、さんだー)と言います</p>
                        <p>・大阪府に住む高校2年生です</p>
                        <p>・サイト・Bot制作や、競技プログラミング、テトリスをしています。</p>
                        <p>・Javascript(Node.js)やPythonを書きます。</p>
                        <p>・数学が好きです。(このサイトでは\(\LaTeX\)が使えたりします！)</p>
                    </div>
                    <p>このサイトには数学・技術系の記事やツールを気まぐれで投稿していこうと思います。よろしくお願いします！</p>
                </div>
                <div class="main-box">
                    <div class="title-list">
                        <h1>Article</h1>
                        <a href="/article/">All</a>
                    </div>
                    <div id="article-list">
                        
                    </div>
                    <p>現在準備中です。もう暫くお待ち下さい。</p>
                </div>
            </div>
        </div>
    </body>
</html>
