<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sky's Server</title>
        <link rel="icon" href="/src/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <div id="header-container">
                <h1>Sky's server</h1>
                <p>Technology and convenience for you</p>
            </div>
        </header>
        <div id="main">
            <div id="main-container">
                <h1>TEST</h1>
            </div>
        </div>
    </body>
</html>