#ar-mk-header{
    display: flex;
    gap:10px;
    margin:10px 0;
}
#ar-mk-header button{
    white-space: nowrap;
}
.pub::after{
    content:"公開";
}
.unpub{
    background:#808080;
}
.unpub::after{
    content:"非公開";
}
#preview{
    border:1px solid black;
}
textarea{
    width:100%;
    resize:vertical;
    field-sizing: content;
    min-height:100px;
    max-height:500px;
}