form{
    display:inline-flex;
    flex-direction: column;
    border:1px solid black;
    border-radius:10px;
    margin:10px 0;
    padding:20px;
    width:100%;
}
form label{
    display:block;
    margin-bottom:5px;
    color: #545454;
}
form textarea{
    resize:vertical;
}
.form-group{
    margin-bottom:15px;
}
#alert{
    text-align:center;
    color:white;
}