form{
    display:inline-flex;
    flex-direction: column;
    border:1px solid black;
    border-radius:10px;
    margin:10px 0;
    padding:20px;
    width:100%;
}
form label{
    display:block;
    margin-bottom:5px;
    color: #545454;
}
.input{
    width:100%;
    padding:5px 12px;
    border-radius:8px;
    border:2px solid #e1e5e9;
    transition: outline .3s, border-color .3s;
}
.input:focus{
    outline:none;
    border-color:#f7a001;
}
form textarea{
    resize:vertical;
}
.form-group{
    margin-bottom:15px;
}
#form-submit{
    border:none;
    background-color:#f7a001;
    color:white;
    border-radius: 10px;
    padding:5px 12px;
    cursor:pointer;
}
#alert{
    text-align:center;
    color:white;
}