*{
    font-family: "SUSE Mono","Noto Sans JP",sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    width:100%;
    height:80px;
    border-bottom:1px solid black;
}
#header-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
    width: 100%;
    margin:0 auto;
    max-width: 1024px;
}
#header-container > h1{
    margin-left:30px;
}
#header-container > p{
    margin-right:30px;
}
#main{
    width:100%;
}
#main-container{
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding:0 30px;
}


@media screen and (max-width:768px){
    
}