*{
    font-family: "SUSE Mono","Noto Sans JP",sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    width:100%;
    height:80px;
    border-bottom:1px solid black;
}
#header-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
    width: 100%;
    margin:0 auto;
    max-width: 1024px;
}
#header-container > a{
    margin-left:30px;
    text-decoration:none;
    color:black;
}
#header-container > p{
    margin-right:30px;
}
#main{
    width:100%;
}
#main-container{
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding:0 30px;
}
.main-box{
    margin: 20px 0 0 0;
}
.main-box h1{
    padding:0 20px;
    border-left: 6px double black;
}
.main-box>h1{
    margin-bottom:20px;
}
.title-list{
    display:flex;
    align-items: center;
    margin-bottom:20px;
}
.title-list a{
    border:none;
    background-color: #f7a001;
    color:white;
    border-radius:10px;
    padding:10px 30px;
    text-decoration:none;
}
.title-list a:hover{
    cursor:pointer;
    background-color:#ffc250;
}
.mini-box{
    margin: 10px 0;
}
@media screen and (max-width:768px){
    
}
