<!DOCTYPE html>
<html>
    <head>
        <%- include("../head.ejs")%>
    </head>
    <body>
        <%- include("../header.ejs")%>
        <div id="main">
            <div id="main-container">
                <div class="main-box">
                    <h1><%= title %></h1>
                    <%- content %>
                </div>
                <div class="main-box">
                    <h2>コメント</h2>
                    <p>現在コメント機能は実装中です.</p>
                </div>
            </div>
        </div>
        <script src="/js/article.js"></script>
    </body>
</html>
